@media screen and (max-width: 1300px) {
  .m-search_1 {
    .search-box.c-box_search {
      display: block !important;

      form#form_search {
        .c-group_form {
          a#bt-search {
            display: inline-block;
            color: #bce4e5;
            line-height: 20px;
            padding: 8px 15px;
            text-transform: uppercase;
            cursor: pointer;
            position: absolute;
            right: 0px;
            bottom: 0;
            background: #064d4b;
            border-radius: 5px 3px 3px 5px;
          }
        }
      }
    }
  }

  .w3-button {
    border: none;
    display: inline-block;
    padding: 8px 31px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }

  .hear_ss {
    margin-bottom: 3.5rem !important;
    a.logo_sm {
      img {
        // padding: 5px 15px;
        // max-width: 250px;
        padding: 20px 15px 0px 15px;
        max-width: 270px;
        width: 100%;
        height: auto;
      }
    }
  }

  .rightmenu_mobile {
    .mainmenu.mainmenu-main_activities_mobi {
      height: 100% !important;

      ul#navmenu-v1_1 {
        padding: 0px !important;
        display: block !important;

        li.li_header.level0.menu-item {
          list-style: none !important;

          .tems {
            color: #064d4b;
          }

          span {
            text-align: center;
            font-size: 16px;
            font-family: medium;
          }

          .dropdown-menu2.content {
            display: none;
            padding: 0px !important;
          }

          .li_header.level1.sub-menu-item.dropdown-submenu {
            padding: 10px 0px !important;
            list-style: none;
            align-items: center;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.0705882353);
            .tmenu {
              .tems {
                width: 100%;
                font-size: 13px;
                padding: 10px 0px;
                line-height: 1.56;
                letter-spacing: 0.96px;
                color: #064d4b;
                transition: color 0.3s ease-in-out;
     border-bottom: 1px solid rgba(0, 0, 0, 0.0705882353);
                .hover {
                  text-align: left !important;
                  font-size: 15px;
                  font-family: medium;
                }
              }
            }
          }
        }
      }
    }

    a.mm-btn.mm-btn_close.mm-navbar__btn {
      position: relative;
      width: 100%;
      display: block;

      span.mm-sronly {
        // position: absolute;
        top: -75px;
        right: 5px;
        padding-top: 0px;
      }
    }
  }

  #rightMenu
    .mainmenu.mainmenu-main_activities_mobi.clearfix
    ul#navmenu-v1_1
    li.level0.menu-item {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
      margin: 15px 0;
      content: "";
      display: block;
      height: 1px;
      color: #f9f9f9;
      width: 100%;
      background-color: #00000012;
    }

    .tmenu {
      display: flex;
      align-items: center;
    }

    a.tems {
      display: flex;
      flex: 3.5;
    }

    span.collapsible {
      flex: 0.5;
    }
  }

  ul#navmenu-v1_1 li {
    padding: 0px 10px !important;
    list-style: none;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.0705882353);
  }

  .collapsible {
    outline: none;
  }

  .collapsible:hover {
    background: rgb(255, 255, 255);
  }

  .collapsible:after {
    content: "\002B";
    color: #111;
    float: right;
    font-size: 25px !important;
  }

  .menu-item span.hover::before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 100%;
    width: 0px;
    height: 0;
    background-color: #b00020;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
  }

  .actives:after {
    content: "\2212";
  }
}
