@media (max-width: 768px) {
    .mm-navbar{
        border: 0 !important;
    }
#mySidenav{
        display: none;
    }
#mySidenav.mm-menu.mm-menu_offcanvas.mm-menu_opened{
        display: block;
    }
    
    li.level_1.mm-listitem {
        // border-bottom: 0 !important;
        position: unset !important;
        a.mm-listitem__text {
            text-transform: uppercase !important;
            font-weight: bold;
            font-size: 12px !important;
            color: var(--Keycolor, #74489D);
        }
    }
    .mm-navbar__title{
        display: none !important;
    }
    .mm-navbar.mm-navbar_sticky{
        display: none !important;
    }
    a.logo.mm-listitem__text{
        padding: 30px 25px ;
    }
    li.level_1.mm-listitem:nth-child(2){
        margin-top: 20px ;
    }
    .mm-menu_offcanvas{
        width: 50% !important;
        min-height: 150px !important;
        max-width: 300px !important;
    }
    .mm-wrapper_opening .mm-menu_offcanvas~.mm-slideout{
        transform: translate3d(60vw,0,0) !important;
    }
}
